
.detalle, .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fueraForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
h4{
    margin: 0rem;
}