.post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post h1{
    font-family: monospace;
    margin: 2rem;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding: 1rem;
    box-shadow: 1px 1px 0px black;
    background-color: rgb(199, 198, 199);
    color: black;
    font-size: 1.2rem;
}
.contenedor-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-post form{
    display: flex;
    flex-direction: column;
}
.inputs-form{
    display: flex;
    flex-direction: row;
}
.inputs-form div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;

    padding: 1rem;
    background-color: rgb(199, 198, 199);
    border-top:2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
    box-shadow: 1px 1px 1px 0px black;

}
.inputs-form input{
    border: none;
    border-left: 2px solid #424242;
    border-top: 2px solid #424242;
    box-shadow: 0px 0px 1px 0px black;

    padding: 0.3rem;
    margin: 0.3rem;
}
.alerta{
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #7a7979;
    color: white;
    padding: 12px 18px;
    z-index: 9999;
    padding: 1rem;
    font-family: monospace;
    font-size: 1rem;

    
    border-top:2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
    box-shadow: 1px 1px 1px 0px black;

}
/*
display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    border: none;
    z-index: 9999;
    animation: slideIn 0.3 ease;
*/